ody {
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: 300;
}

h1 {
    font-weight: 500;
    color: #444444;
}

h2 {
    font-weight: 500;
    padding: 0.5em 1em;
    margin-top: 2em;
    background: #f4f4f4;
}

p {
    margin: 1em;
}

table {
    width: 80%;
}

table th {
    text-align: center;
    color: #FFF;
    background-color: #52c2d0;
}

table td {
    text-align: center;
}


table tr:nth-child(odd) {
    background-color: #f4f4f4;
}
